certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
decorator==4.4.2
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
numpy==2.2.5
pillow==10.4.0
praw==7.8.1
prawcore==2.4.0
proglog==0.1.12
pysrt==1.1.2
python-dotenv==1.1.0
requests==2.32.3
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.13.2
update-checker==0.18.0
urllib3==2.4.0
websocket-client==1.8.0
